 <%= render 'layouts/nav' %>

<div class="container">
  <div class="row"> <!--row1 start-->
    <div class="col-sm-12 col-lg-5"> <!--carousel begin-->
      <div id="carousel-me" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner d-flex justify-content-center">
          <div class="carousel-item active">
          <%= image_tag("IMG_9348.jpg", :alt => "slide-1", :class =>"d-block w-100 img-fluid" ) %>
          </div>
          <div class="carousel-item">
          <%= image_tag("IMG_9349.jpg", :alt => "slide-2", :class =>"d-block w-100 img-fluid" ) %>
          </div>
          <div class="carousel-item">
          <%= image_tag("IMG_9350.jpg", :alt => "slide-3", :class =>"d-block w-100 img-fluid" ) %>
          </div>
        </div>
      </div>
    </div> <!--carousel end -->

    <div class="col-lg-1 bg-black">
        <p class="welcome rotate">WELCOME</p>
    </div><!--welcome end -->

    <div class="about col-sm-12 col-lg-6">
      <%= image_tag("sophielogo.svg", :alt => "logo", :class =>"d-block w-100 logo img-fluid mx-auto d-block" ) %>
      <p class="info font">
       Hi I'm Sophie and I'm aspiring web developer. I have a background in marketing but I've always had a passion for tech
       and trouble shooting.
       I might be small in stature but I'm big on fun.
       If programming has taught me anything it's that "curiousity killed the cat but satisfaction brought it back".
      </p>
    </div><!--about me end-->
  </div> <!--end of row1-->
  <a href="/pages/sitemap" ><p class="sitemap font">sitemap</p></a>
</div><!--end of container-->
